<h1>Form Page</h1>

<form action="/new" method="post">
	<p>Please insert the name of your new model:</p>
		<input name="name">
	<p>Please insert the price of your new model:</p>
		<input name="price">
	</p>
	<p>Please insert the brand of your new model:</p>
		<input name="brand">
	</p>
		<input type="submit">
</form>