<h1>Index Page</h1>
<h2>Welcome to the online store</h2>

<ul>Please choose your option
	<li><a href="/list"><button>List of Products</button></a></li>
	<li><a href="/remove"><button>Remove Product</button></a></li>
	<li><a href="/product"><button>Product Detail</button></a></li>
</ul>