<h1>Remove Page</h1>

<form action="/remove" method="delete">
	<p>Please insert the id of your new model:</p>
		<input name="id"><input type="submit">
	</p>
</form>

<li><a href="/list"><button>List of Products</button></a></li>