<h1>Add a new Party</h1>

<form action="/create" method="post">
	<p>Please insert the theme of your new party: <input name="theme"></p>	
	<p>what's the date?: 	<input name="date" type="date"></p>	
	<p>Add a description: <input name="description" ></p>	
	<p><input type="submit"></p>
</form>