<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <link rel="stylesheet" type="text/css" href="/styles.css">
</head>
<body>
  <div class = "search-box">
    <!-- <img src="http://cdn-media-1.lifehack.org/wp-content/files/2014/07/google.png"> -->
    <div>
      <img class= "search-box-image" src="http://www.purenow.solutions/wp-content/uploads/2014/12/Google.gif">
    </div>
    <input></input>
    <button>Pesquisar</button>
  </div>
  
  <div class = "menu-bar">
    <span class = "menu-bar-option">Web</span>
    <span class = "menu-bar-option">Imagens</span>
    <span class = "menu-bar-option">Videos</span>
    <span class = "menu-bar-option">Mapas</span>
    <span class = "menu-bar-option">Noticias</span>
    <span class = "menu-bar-option">Mais</span>
    <span class = "menu-bar-option">Ferramentas de Pesquisa</span>
  </div>

  <div class = "result-stats">Cerca de 338 000 000 resultados (0,32 segundos) </div>

    <div class = "search-result">
        <div>
          <a  class = "name-result" href="http://creatorsschool.com/">Creators School</a>
          <p class = "link-result">www.creatorsschool.com</p>
          <p class = "summary-result"> acreditamos que só se aprende verdadeiramente a fazer fazendo. Partindo desse princípio, desenhámos um programa essencialmente ...</p>
        </div>
        <div class = "ad-box">
          <div><img class="ad-image" src="http://d.fastcompany.net/multisite_files/fastcompany/imagecache/inline-large/inline/2014/04/3029836-inline-p2-codecademy-01.jpg"></div>
          <div class="ad-text">
            <div>Learn your skills in Codeacademy. use your skills to learn a new language.</div>
            </div>
        </div>  
    </div>

  <div class = "search-result">
          <div>
            <a  class = "name-result" href="http://creatorsschool.com/">Creators School</a>
            <p class = "link-result">www.creatorsschool.com</p>
            <p class = "summary-result"> acreditamos que só se aprende verdadeiramente a fazer fazendo. Partindo desse princípio, desenhámos um programa essencialmente ...</p>
          </div>
          <div class = "ad-box">
            <div><img class="ad-image" src="http://d.fastcompany.net/multisite_files/fastcompany/imagecache/inline-large/inline/2014/04/3029836-inline-p2-codecademy-01.jpg"></div>
            <div class="ad-text">
              <div>Learn your skills in Codeacademy. use your skills to learn a new language.</div>
              </div>
          </div>  
      </div>

    <div class = "search-result">
          <div>
            <a  class = "name-result" href="http://creatorsschool.com/">Creators School</a>
            <p class = "link-result">www.creatorsschool.com</p>
            <p class = "summary-result"> acreditamos que só se aprende verdadeiramente a fazer fazendo. Partindo desse princípio, desenhámos um programa essencialmente ...</p>
          </div>
          <div class = "ad-box">
            <div><img class="ad-image" src="http://d.fastcompany.net/multisite_files/fastcompany/imagecache/inline-large/inline/2014/04/3029836-inline-p2-codecademy-01.jpg"></div>
            <div class="ad-text">
              <div>Learn your skills in Codeacademy. use your skills to learn a new language.</div>
              </div>
          </div>  
      </div>

   

  <div class = "image-result">
    <p>Imagens de "Creators School"</p>
    <span> <img src="http://placehold.it/150x150"> </span>
    <span> <img src="http://placehold.it/150x150"> </span>
    <span> <img src="http://placehold.it/150x150"> </span>
    <span> <img src="http://placehold.it/150x150"> </span>
    <p>Mais imagens de "Creators School"</p>
  </div>

  <div class = "result-related">
    <ul class = "index-result-related">
      <li>
        <p class = "index-name-result-related"> Resultado de Pesquisa 1</p>
        <p class = "index-name-result-related"> Resultado de Pesquisa 2</p>
        <p class = "index-name-result-related"> Resultado de Pesquisa 3</p>
      </li>
    </ul>
  </body>
</html>